@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
	min-width: 1020px;
}

body {
	margin: 0;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 24px;
	color: #242424;
	background-color: #fbf7f4;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.button {
	font-family: inherit;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
	text-align: center;
	background-color: black;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
}

.main-header {
	color: #FFFFFF;
	background-color: #000000;
}

.main-menu {
	display: flex;
	width: 940px;
	margin: 0 auto;
	align-items: center;
	color: #FFFFFF;
	background-color: #000000;
}

.top-menu {
	margin: 0;
	padding: 0;
	width: 535px;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
}

.menu-logo {
	width: 140px;
	margin-right: 100px;
	padding-top: 24px;
	padding-bottom: 24px;
	line-height: 22px;
}

.userbar {
	max-width: 280px;
	margin-left: auto;
}

.page-container {
	width: 940px;
	margin: 0 auto;
}

.logo {
	display: block;
	margin: 0 auto;
	margin-bottom: 64px;
}

.menu-item,
.userbar-item-link {
	line-height: 22px; 
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	display: block;
	padding: 24px 24px;
}

.userbar-item-link {
	min-width: 16px;
	min-height: 22px;
}
 
.main-content {
	background-image: url("../images/bg-main.jpg");
	color: white;
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.main-container {
	flex-grow: 1;
	padding-top: 64px;
	padding-bottom: 60px
}

.catalog-container {
	flex-grow: 1;
	padding-top: 40px;
	padding-bottom: 60px
}

.catalog-content {
	color: #242424;
	background-image: url("../images/bg-noisy-ivory.png");
	background-repeat: repeat;
	background-color: #fbf7f4;
}

.advantages {
	text-align: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 58px;
}

.advantages-quickly,
.advantages-cool,
.advantages-expensive {
	width: 277px;
}

.advantages-title {
	text-transform: uppercase;
	font-size: 32px;
	line-height: 35px;
	margin: 0;
	margin-bottom: 56px;
}

.advantages-description {
	margin: 0;
}

.catalog-title {
	text-transform: uppercase;
	font-size: 32px;
	line-height: 35px;
	margin: 0;
	margin-bottom: 16px;
}

.content-with-light-bg {
	color: #242424;
	background-image: url("../images/bg-noisy-ivory.png");
	background-color: #fbf7f4;
	display: flex;
	justify-content: space-between;
	padding: 40px;
	margin-bottom: 32px;
}

.content-with-light-bg:last-child {
	margin-bottom: 0;
}

.services {
	text-transform: uppercase;
	font-weight: 700;
	width: 390px;
}

.services-list {
	font-size: 20px;
	line-height: 28px;
}

.services-price {
	color: #AF7842;
}

.services-title,
.photo-gallery-title,
.contacts-title,
.appointment-title {
	font-size: 32px;
	line-height: 35px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 26px;
}

.photo-gallery {
	width: 390px;
}

.contacts {
	font-weight: 700;
	width: 350px;
}

.address {
	font-style: normal;
}

.contacts-subtitle {
	font-size: 20px;
	line-height: 28px;
	color: #AF7842;
	text-transform: uppercase;
}

.contacts-phone {
	color: #242424;
	font-size: 24px;
	line-height: 29px;
	text-transform: uppercase;
}

.appointment {
	width: 430px;
}

.appointment p {
	font-size: 14px;
	line-height: 20px;
	color: #595959;
}

.appointment label {
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	text-transform: uppercase;
}

.catalog-products {
	display: flex;
}

.page-footer {
	color: white;
	background-image: url("../images/bg-noisy-black.png");
	background-repeat: repeat;
	background-color: #242424;
	font-size: 14px;
	line-height: 20px;
	font-weight: 700;
}

.footer-container {
	display: flex;
	width: 940px;
	margin: 0 auto;
	padding-top: 40px;
	background-image: url("../images/bg-noisy-black.png");
	background-repeat: repeat;
	background-color: #242424;
}

.footer-info {
	width: 190px;
	margin-right: 140px;
}

.footer-address {
	font-style: normal;
}

.footer-phone {
	color: #ffffff;
	font-size: 20px;
	line-height: 28px;
}

.footer-roadmap-link {
	color: #ffffff;
	font-size: 20px;
	text-transform: uppercase;
}

.footer-subscribe-title,
.footer-social-title {
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 14px;
}

.footer-logo {
	margin: 0;
	margin-bottom: 24px;
}

.footer-social {
	width: 190px;
	margin-left: auto;
}

.footer-social-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

.footer-social-item {
	width: 56px;
	height: 44px;
	margin-right: 8px;
	margin-bottom: 8px;
}

.footer-social-item:nth-child(3n) {
	margin-right: 0;
}

.copyright, .git-creator {
	color: #0abab5;
}

.copyright-link {
	color:#AF7842;
	text-decoration: none;
}

.breadcrumbs {
	color: #242424;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-bottom: 32px;
}

.breadcrumbs-link {
	color: #242424;
	margin-right: 32px;
}

.filters {
	width: 220px;
	margin-right: 20px;
}

.filters-price {
	margin-bottom: 40px;
}

.filters-price-title,
.filters-brands-title,
.filters-product-group-title {
	color: black;
	font-size: 20px;
	line-height: 28px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 22px;
}

.filters-brands-list,
.filters-product-group-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	margin-bottom: 40px;
}

.filters-brands-item,
.filters-product-group-item {
	margin-bottom: 16px;
}

.catalog-right-column {
	width: 700px;
}

.sorting-view {
	background-color: #ffffff;
	color: #242424;
	display: flex;
	padding: 16px;
	margin-bottom: 16px;
}

.sorting-form {
	margin-right: auto;
}

.sorting-view .button {
	width: 55px;
	height: 44px;
}
 
.sorting-link-light {
	color: #242424;
	background-color: #ffffff
}

.goods-item {
	background-color: #fff;
}

.goods-list {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.item-links {
	text-decoration: none;
	color: black;
	font-size: 16px;
	line-height: 24px;
	font-weight: 700;
}

.goods-item-price {
	font-size: 24px;
	line-height: 29px;
	color: #814B18;
	font-weight: 700;
}

.pagination-container {
	background-color: #FFFFFF;
	padding: 16px;
	display: flex;
	margin-top: 24px;
	align-items: center;
}

.pagination {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.pagination-more {
	width: 155px;
	margin-left: auto;
	padding: 14px 20px;
	border: none;
}

.pagination-item:not(:last-child) {
	margin-right: 8px;
}

.pagination-link {
	color: #ffffff;
	text-decoration: none;
	background-color: black;
	display: block;
	box-sizing: border-box;
	width: 50px;
	height: 44px;
	padding: 14px 20px;
	line-height: 16px;
	font-weight: 700;
}

.pagination-disabled {
	background-color: #595959;
}

.pagination-current {
	color: #242424;
	background-color: #ffffff
}